version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: farmlokal_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: farmlokal
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: farmlokal_redis
    ports:
      - "6379:6379"

volumes:
  mysql_data:
